{
  "swagger": "2.0",
  "info": {
    "description": "API for accessing SLASH data",
    "title": "SLASH API",
    "termsOfService": "http://swagger.io/terms/",
    "contact": {
      "name": "API Support",
      "url": "https://www.stationsatcom.com/contact-us",
      "email": "service@stationsatcom.com"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "version": "1.0"
  },
  "host": "slash-api.rudra.sh",
  "basePath": "/api/v1",
  "schemes": [
    "https"
  ],
  "securityDefinitions": {
    "ApiKeyAuth": {
      "type": "apiKey",
      "name": "X-API-Key",
      "in": "header"
    }
  },
  "paths": {
    "/addresses": {
      "get": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "Retrieves all addresses for accounts linked to the tenant's vessels",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "addresses"
        ],
        "summary": "Get addresses for tenant",
        "operationId": "listAddresses",
        "parameters": [
          {
            "type": "integer",
            "default": 0,
            "description": "Page number (0-based pagination)",
            "name": "page",
            "in": "query"
          },
          {
            "type": "integer",
            "maximum": 100,
            "default": 20,
            "description": "Number of items per page (max 100)",
            "name": "limit",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Filter by region code",
            "name": "regionCode",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/models.AddressListResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "type": "object",
              "additionalProperties": true
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "type": "object",
              "additionalProperties": true
            }
          }
        }
      }
    },
    "/alerts/routers": {
      "get": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "Retrieves alert EPISODES from routers. The upstream alert stream repeats each active alert roughly every 3.7 seconds; this endpoint collapses that stream into one episode per (deviceId, alertId) within the requested window, with firstSeen, lastSeen, sampleCount and an active flag. totalCount is the number of episodes. Default window is the last 7 days.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "alerts"
        ],
        "summary": "Get router alert episodes",
        "operationId": "listRouterAlerts",
        "parameters": [
          {
            "type": "string",
            "description": "Start date in RFC3339 format (e.g., 2025-01-01T00:00:00Z). Defaults to 7 days ago. Maximum date range is 2 months.",
            "name": "startDate",
            "in": "query"
          },
          {
            "type": "string",
            "description": "End date in RFC3339 format (e.g., 2025-01-01T23:59:59Z). Defaults to current time. Maximum date range is 2 months.",
            "name": "endDate",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Filter by specific device ID",
            "name": "deviceId",
            "in": "query"
          },
          {
            "type": "integer",
            "description": "Page index for pagination (0-based). Default: 0",
            "name": "pageIndex",
            "in": "query"
          },
          {
            "type": "integer",
            "maximum": 1000,
            "default": 100,
            "description": "Number of items per page. Default: 100, Max: 1000.",
            "name": "pageSize",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/models.RouterAlertResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "type": "object",
              "additionalProperties": {
                "type": "string"
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "type": "object",
              "additionalProperties": {
                "type": "string"
              }
            }
          }
        }
      }
    },
    "/alerts/user-terminals": {
      "get": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "Retrieves alert EPISODES from user terminals (dishes). The upstream alert stream repeats each active alert roughly every 3.7 seconds; this endpoint collapses that stream into one episode per (deviceId, alertId) within the requested window, with firstSeen, lastSeen, sampleCount and an active flag. totalCount is the number of episodes. Default window is the last 7 days.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "alerts"
        ],
        "summary": "Get user terminal alert episodes",
        "operationId": "listUserTerminalAlerts",
        "parameters": [
          {
            "type": "string",
            "description": "Start date in RFC3339 format (e.g., 2025-01-01T00:00:00Z). Defaults to 7 days ago. Maximum date range is 2 months.",
            "name": "startDate",
            "in": "query"
          },
          {
            "type": "string",
            "description": "End date in RFC3339 format (e.g., 2025-01-01T23:59:59Z). Defaults to current time. Maximum date range is 2 months.",
            "name": "endDate",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Filter by specific device ID",
            "name": "deviceId",
            "in": "query"
          },
          {
            "type": "integer",
            "description": "Page index for pagination (0-based). Default: 0",
            "name": "pageIndex",
            "in": "query"
          },
          {
            "type": "integer",
            "maximum": 1000,
            "default": 100,
            "description": "Number of items per page. Default: 100, Max: 1000.",
            "name": "pageSize",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/models.UserTerminalAlertResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "type": "object",
              "additionalProperties": {
                "type": "string"
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "type": "object",
              "additionalProperties": {
                "type": "string"
              }
            }
          }
        }
      }
    },
    "/analytics/fleet/connectivity": {
      "get": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "Retrieves connectivity analytics for the entire fleet over the last 7 days",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "fleet-connectivity"
        ],
        "summary": "Get fleet connectivity analytics for the last 7 days",
        "operationId": "getFleetConnectivityAnalytics",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/models.FleetConnectivityAnalytics"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "type": "object",
              "additionalProperties": true
            }
          }
        }
      }
    },
    "/analytics/fleet/data-usage": {
      "get": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "Retrieves data usage analytics for the entire fleet over the last 7 days",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "fleet-data-usage"
        ],
        "summary": "Get fleet data usage analytics for the last 7 days",
        "operationId": "getFleetDataUsageAnalytics",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/models.FleetDataUsageAnalytics"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "type": "object",
              "additionalProperties": true
            }
          }
        }
      }
    },
    "/available-products": {
      "get": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "Retrieves all available products and their associated data blocks for accounts linked to the tenant's active vessels",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "products"
        ],
        "summary": "Get available products for tenant",
        "operationId": "listAvailableProducts",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/models.AvailableProductsResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "type": "object",
              "additionalProperties": true
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "type": "object",
              "additionalProperties": true
            }
          }
        }
      }
    },
    "/backfill/user-terminals": {
      "post": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "Recovers the user terminal telemetry rows that your client missed while it was offline. The response is a link to a Parquet file. One row for each reading a terminal reported in the window.\n\n### 1. The smallest request that works\n\nOnly `startDate` and `endDate` are required:\n\n```json\n{\n  \"startDate\": \"2026-09-07T08:00:00Z\",\n  \"endDate\":   \"2026-09-07T10:30:00Z\"\n}\n```\n\nThis gives you every device the tenant owns.\n\n> **Read the example body below as a list of every field the endpoint accepts, not as the body you must send.** Send only the fields you need. The example shows `deviceId`, `deviceIds` and `vesselId` together, but you must never send them together.\n\n### 2. Ask for less than the whole tenant (optional)\n\nAdd **one** of these to the body:\n\n| To backfill | Add to the body |\n| --- | --- |\n| One device | `\"deviceId\": \"0100…\"` |\n| Several devices | `\"deviceIds\": [\"0100…\", \"0100…\"]` — up to 500 |\n| One vessel | `\"vesselId\": \"0197…\"` |\n\n`deviceIds` and `vesselId` cannot go together. A request that has both answers `400`.\n\nLeave all three out to get every device you own.\n\n### 3. Rules for the time window\n\n| Rule | Value |\n| --- | --- |\n| Format | RFC3339, UTC, for example `2026-09-07T08:00:00Z` |\n| Longest window | 3 hours (`endDate` − `startDate`) |\n| How recent `endDate` may be | at least 5 minutes in the past |\n| Oldest `startDate` | 90 days |\n\n`endDate` must be in the past so that the window is closed. A closed window gives a stable file.\n\n### 4. What comes back\n\n**`200` — the file is ready.**\n\n```json\n{\n  \"status\": \"ready\",\n  \"downloadUrl\": \"https://slash-telemetry-backfill.s3.ap-south-1.amazonaws.com/…\",\n  \"expiresAt\": \"2026-09-07T13:30:00Z\",\n  \"rowCount\": 35283,\n  \"sizeBytes\": 1399945\n}\n```\n\nDownload `downloadUrl` directly. It is a presigned link and it needs no API key. It stops working at `expiresAt`, which is approximately 3 hours.\n\n**`202` — the file is large, and the server is building it.**\n\n```json\n{ \"status\": \"building\", \"retryAfter\": 10 }\n```\n\nSend the **same** request again after `retryAfter` seconds. There is no separate status endpoint: the same request answers `200` when the file is ready. Repeating the request is cheap and does not count against your hourly limit.\n\n**`404`** — you own no rows for that scope and that window.\n\n**`429`** — too many requests. Wait and send the request again.\n\n### 5. Points to remember\n\n- The same request always gives the same file. Send it again to get a new link for a file you already have.\n- The column names in the file are the same as the field names of `GET /telemetry/user-terminals`, so the code that reads that endpoint also reads this file.\n- `includeAlerts` is not supported. A request with `includeAlerts: true` answers `400`. Use the `alerts-user-terminals` and `alerts-routers` endpoints instead.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "backfill"
        ],
        "summary": "Backfill user terminal telemetry",
        "parameters": [
          {
            "description": "Edit before sending. Only startDate and endDate are required; delete the rest. Keep at most ONE of deviceId, deviceIds or vesselId.",
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/handlers.BackfillRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ready — presigned S3 link to the Parquet file in downloadUrl",
            "schema": {
              "$ref": "#/definitions/handlers.BackfillResponse"
            }
          },
          "202": {
            "description": "Building — the Parquet export is running in the background; re-send the same request after retryAfter seconds",
            "schema": {
              "$ref": "#/definitions/handlers.BackfillResponse"
            }
          },
          "400": {
            "description": "Bad Request (unsupported endpoint, or an invalid scope/window)",
            "schema": {
              "type": "object",
              "additionalProperties": {
                "type": "string"
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "type": "object",
              "additionalProperties": {
                "type": "string"
              }
            }
          },
          "404": {
            "description": "Scope owns no rows in the window",
            "schema": {
              "type": "object",
              "additionalProperties": {
                "type": "string"
              }
            }
          },
          "409": {
            "description": "Artifact is expiring under the S3 lifecycle; re-send the request to rebuild it",
            "schema": {
              "type": "object",
              "additionalProperties": {
                "type": "string"
              }
            }
          },
          "429": {
            "description": "Too Many Requests (per-tenant concurrency or rate limit)",
            "schema": {
              "type": "object",
              "additionalProperties": {
                "type": "string"
              }
            }
          },
          "500": {
            "description": "Internal Server Error (ClickHouse export or S3 failure)",
            "schema": {
              "type": "object",
              "additionalProperties": {
                "type": "string"
              }
            }
          },
          "503": {
            "description": "Backfill disabled (no AWS credentials for S3) or all export workers busy",
            "schema": {
              "type": "object",
              "additionalProperties": {
                "type": "string"
              }
            }
          }
        }
      }
    },
    "/backfill/routers": {
      "post": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "Recovers the router telemetry rows that your client missed while it was offline. The response is a link to a Parquet file. One row for each reading a router reported in the window.\n\n### 1. The smallest request that works\n\nOnly `startDate` and `endDate` are required:\n\n```json\n{\n  \"startDate\": \"2026-09-07T08:00:00Z\",\n  \"endDate\":   \"2026-09-07T10:30:00Z\"\n}\n```\n\nThis gives you every device the tenant owns.\n\n> **Read the example body below as a list of every field the endpoint accepts, not as the body you must send.** Send only the fields you need. The example shows `deviceId`, `deviceIds` and `vesselId` together, but you must never send them together.\n\n### 2. Ask for less than the whole tenant (optional)\n\nAdd **one** of these to the body:\n\n| To backfill | Add to the body |\n| --- | --- |\n| One device | `\"deviceId\": \"0100…\"` |\n| Several devices | `\"deviceIds\": [\"0100…\", \"0100…\"]` — up to 500 |\n| One vessel | `\"vesselId\": \"0197…\"` |\n\n`deviceIds` and `vesselId` cannot go together. A request that has both answers `400`.\n\nLeave all three out to get every device you own.\n\n### 3. Rules for the time window\n\n| Rule | Value |\n| --- | --- |\n| Format | RFC3339, UTC, for example `2026-09-07T08:00:00Z` |\n| Longest window | 3 hours (`endDate` − `startDate`) |\n| How recent `endDate` may be | at least 5 minutes in the past |\n| Oldest `startDate` | 90 days |\n\n`endDate` must be in the past so that the window is closed. A closed window gives a stable file.\n\n### 4. What comes back\n\n**`200` — the file is ready.**\n\n```json\n{\n  \"status\": \"ready\",\n  \"downloadUrl\": \"https://slash-telemetry-backfill.s3.ap-south-1.amazonaws.com/…\",\n  \"expiresAt\": \"2026-09-07T13:30:00Z\",\n  \"rowCount\": 35283,\n  \"sizeBytes\": 1399945\n}\n```\n\nDownload `downloadUrl` directly. It is a presigned link and it needs no API key. It stops working at `expiresAt`, which is approximately 3 hours.\n\n**`202` — the file is large, and the server is building it.**\n\n```json\n{ \"status\": \"building\", \"retryAfter\": 10 }\n```\n\nSend the **same** request again after `retryAfter` seconds. There is no separate status endpoint: the same request answers `200` when the file is ready. Repeating the request is cheap and does not count against your hourly limit.\n\n**`404`** — you own no rows for that scope and that window.\n\n**`429`** — too many requests. Wait and send the request again.\n\n### 5. Points to remember\n\n- The same request always gives the same file. Send it again to get a new link for a file you already have.\n- The column names in the file are the same as the field names of `GET /telemetry/routers`, so the code that reads that endpoint also reads this file.\n- `includeAlerts` is not supported. A request with `includeAlerts: true` answers `400`. Use the `alerts-user-terminals` and `alerts-routers` endpoints instead.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "backfill"
        ],
        "summary": "Backfill router telemetry",
        "parameters": [
          {
            "description": "Edit before sending. Only startDate and endDate are required; delete the rest. Keep at most ONE of deviceId, deviceIds or vesselId.",
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/handlers.BackfillRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ready — presigned S3 link to the Parquet file in downloadUrl",
            "schema": {
              "$ref": "#/definitions/handlers.BackfillResponse"
            }
          },
          "202": {
            "description": "Building — the Parquet export is running in the background; re-send the same request after retryAfter seconds",
            "schema": {
              "$ref": "#/definitions/handlers.BackfillResponse"
            }
          },
          "400": {
            "description": "Bad Request (unsupported endpoint, or an invalid scope/window)",
            "schema": {
              "type": "object",
              "additionalProperties": {
                "type": "string"
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "type": "object",
              "additionalProperties": {
                "type": "string"
              }
            }
          },
          "404": {
            "description": "Scope owns no rows in the window",
            "schema": {
              "type": "object",
              "additionalProperties": {
                "type": "string"
              }
            }
          },
          "409": {
            "description": "Artifact is expiring under the S3 lifecycle; re-send the request to rebuild it",
            "schema": {
              "type": "object",
              "additionalProperties": {
                "type": "string"
              }
            }
          },
          "429": {
            "description": "Too Many Requests (per-tenant concurrency or rate limit)",
            "schema": {
              "type": "object",
              "additionalProperties": {
                "type": "string"
              }
            }
          },
          "500": {
            "description": "Internal Server Error (ClickHouse export or S3 failure)",
            "schema": {
              "type": "object",
              "additionalProperties": {
                "type": "string"
              }
            }
          },
          "503": {
            "description": "Backfill disabled (no AWS credentials for S3) or all export workers busy",
            "schema": {
              "type": "object",
              "additionalProperties": {
                "type": "string"
              }
            }
          }
        }
      }
    },
    "/backfill/ip-allocations": {
      "post": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "Recovers the IP allocation rows that your client missed while it was offline. The response is a link to a Parquet file. One row for each IP allocation record in the window.\n\n### 1. The smallest request that works\n\nOnly `startDate` and `endDate` are required:\n\n```json\n{\n  \"startDate\": \"2026-09-07T08:00:00Z\",\n  \"endDate\":   \"2026-09-07T10:30:00Z\"\n}\n```\n\nThis gives you every device the tenant owns.\n\n> **Read the example body below as a list of every field the endpoint accepts, not as the body you must send.** Send only the fields you need. The example shows `deviceId`, `deviceIds` and `vesselId` together, but you must never send them together.\n\n### 2. Ask for less than the whole tenant (optional)\n\nAdd **one** of these to the body:\n\n| To backfill | Add to the body |\n| --- | --- |\n| One device | `\"deviceId\": \"0100…\"` |\n| Several devices | `\"deviceIds\": [\"0100…\", \"0100…\"]` — up to 500 |\n| One vessel | `\"vesselId\": \"0197…\"` |\n\n`deviceIds` and `vesselId` cannot go together. A request that has both answers `400`.\n\nLeave all three out to get every device you own.\n\n### 3. Rules for the time window\n\n| Rule | Value |\n| --- | --- |\n| Format | RFC3339, UTC, for example `2026-09-07T08:00:00Z` |\n| Longest window | 3 hours (`endDate` − `startDate`) |\n| How recent `endDate` may be | at least 5 minutes in the past |\n| Oldest `startDate` | 90 days |\n\n`endDate` must be in the past so that the window is closed. A closed window gives a stable file.\n\n### 4. What comes back\n\n**`200` — the file is ready.**\n\n```json\n{\n  \"status\": \"ready\",\n  \"downloadUrl\": \"https://slash-telemetry-backfill.s3.ap-south-1.amazonaws.com/…\",\n  \"expiresAt\": \"2026-09-07T13:30:00Z\",\n  \"rowCount\": 35283,\n  \"sizeBytes\": 1399945\n}\n```\n\nDownload `downloadUrl` directly. It is a presigned link and it needs no API key. It stops working at `expiresAt`, which is approximately 3 hours.\n\n**`202` — the file is large, and the server is building it.**\n\n```json\n{ \"status\": \"building\", \"retryAfter\": 10 }\n```\n\nSend the **same** request again after `retryAfter` seconds. There is no separate status endpoint: the same request answers `200` when the file is ready. Repeating the request is cheap and does not count against your hourly limit.\n\n**`404`** — you own no rows for that scope and that window.\n\n**`429`** — too many requests. Wait and send the request again.\n\n### 5. Points to remember\n\n- The same request always gives the same file. Send it again to get a new link for a file you already have.\n- The column names in the file are the same as the field names of `GET /telemetry/ip-allocations`, so the code that reads that endpoint also reads this file.\n- `includeAlerts` is not supported. A request with `includeAlerts: true` answers `400`. Use the `alerts-user-terminals` and `alerts-routers` endpoints instead.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "backfill"
        ],
        "summary": "Backfill IP allocations",
        "parameters": [
          {
            "description": "Edit before sending. Only startDate and endDate are required; delete the rest. Keep at most ONE of deviceId, deviceIds or vesselId.",
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/handlers.BackfillRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ready — presigned S3 link to the Parquet file in downloadUrl",
            "schema": {
              "$ref": "#/definitions/handlers.BackfillResponse"
            }
          },
          "202": {
            "description": "Building — the Parquet export is running in the background; re-send the same request after retryAfter seconds",
            "schema": {
              "$ref": "#/definitions/handlers.BackfillResponse"
            }
          },
          "400": {
            "description": "Bad Request (unsupported endpoint, or an invalid scope/window)",
            "schema": {
              "type": "object",
              "additionalProperties": {
                "type": "string"
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "type": "object",
              "additionalProperties": {
                "type": "string"
              }
            }
          },
          "404": {
            "description": "Scope owns no rows in the window",
            "schema": {
              "type": "object",
              "additionalProperties": {
                "type": "string"
              }
            }
          },
          "409": {
            "description": "Artifact is expiring under the S3 lifecycle; re-send the request to rebuild it",
            "schema": {
              "type": "object",
              "additionalProperties": {
                "type": "string"
              }
            }
          },
          "429": {
            "description": "Too Many Requests (per-tenant concurrency or rate limit)",
            "schema": {
              "type": "object",
              "additionalProperties": {
                "type": "string"
              }
            }
          },
          "500": {
            "description": "Internal Server Error (ClickHouse export or S3 failure)",
            "schema": {
              "type": "object",
              "additionalProperties": {
                "type": "string"
              }
            }
          },
          "503": {
            "description": "Backfill disabled (no AWS credentials for S3) or all export workers busy",
            "schema": {
              "type": "object",
              "additionalProperties": {
                "type": "string"
              }
            }
          }
        }
      }
    },
    "/backfill/alerts-user-terminals": {
      "post": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "Recovers the user terminal alert rows that your client missed while it was offline. The response is a link to a Parquet file. One row for each device and alert, with `firstSeen`, `lastSeen` and `sampleCount`. Repeated samples of the same alert are collapsed into one row.\n\n### 1. The smallest request that works\n\nOnly `startDate` and `endDate` are required:\n\n```json\n{\n  \"startDate\": \"2026-09-07T08:00:00Z\",\n  \"endDate\":   \"2026-09-07T10:30:00Z\"\n}\n```\n\nThis gives you every device the tenant owns.\n\n> **Read the example body below as a list of every field the endpoint accepts, not as the body you must send.** Send only the fields you need. The example shows `deviceId`, `deviceIds` and `vesselId` together, but you must never send them together.\n\n### 2. Ask for less than the whole tenant (optional)\n\nAdd **one** of these to the body:\n\n| To backfill | Add to the body |\n| --- | --- |\n| One device | `\"deviceId\": \"0100…\"` |\n| Several devices | `\"deviceIds\": [\"0100…\", \"0100…\"]` — up to 500 |\n| One vessel | `\"vesselId\": \"0197…\"` |\n\n`deviceIds` and `vesselId` cannot go together. A request that has both answers `400`.\n\nLeave all three out to get every device you own.\n\n### 3. Rules for the time window\n\n| Rule | Value |\n| --- | --- |\n| Format | RFC3339, UTC, for example `2026-09-07T08:00:00Z` |\n| Longest window | 3 hours (`endDate` − `startDate`) |\n| How recent `endDate` may be | at least 5 minutes in the past |\n| Oldest `startDate` | 90 days |\n\n`endDate` must be in the past so that the window is closed. A closed window gives a stable file.\n\n### 4. What comes back\n\n**`200` — the file is ready.**\n\n```json\n{\n  \"status\": \"ready\",\n  \"downloadUrl\": \"https://slash-telemetry-backfill.s3.ap-south-1.amazonaws.com/…\",\n  \"expiresAt\": \"2026-09-07T13:30:00Z\",\n  \"rowCount\": 35283,\n  \"sizeBytes\": 1399945\n}\n```\n\nDownload `downloadUrl` directly. It is a presigned link and it needs no API key. It stops working at `expiresAt`, which is approximately 3 hours.\n\n**`202` — the file is large, and the server is building it.**\n\n```json\n{ \"status\": \"building\", \"retryAfter\": 10 }\n```\n\nSend the **same** request again after `retryAfter` seconds. There is no separate status endpoint: the same request answers `200` when the file is ready. Repeating the request is cheap and does not count against your hourly limit.\n\n**`404`** — you own no rows for that scope and that window.\n\n**`429`** — too many requests. Wait and send the request again.\n\n### 5. Points to remember\n\n- The same request always gives the same file. Send it again to get a new link for a file you already have.\n- The column names in the file are the same as the field names of `GET /alerts/user-terminals`, so the code that reads that endpoint also reads this file.\n- `includeAlerts` is not supported. A request with `includeAlerts: true` answers `400`. Use the `alerts-user-terminals` and `alerts-routers` endpoints instead.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "backfill"
        ],
        "summary": "Backfill user terminal alerts",
        "parameters": [
          {
            "description": "Edit before sending. Only startDate and endDate are required; delete the rest. Keep at most ONE of deviceId, deviceIds or vesselId.",
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/handlers.BackfillRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ready — presigned S3 link to the Parquet file in downloadUrl",
            "schema": {
              "$ref": "#/definitions/handlers.BackfillResponse"
            }
          },
          "202": {
            "description": "Building — the Parquet export is running in the background; re-send the same request after retryAfter seconds",
            "schema": {
              "$ref": "#/definitions/handlers.BackfillResponse"
            }
          },
          "400": {
            "description": "Bad Request (unsupported endpoint, or an invalid scope/window)",
            "schema": {
              "type": "object",
              "additionalProperties": {
                "type": "string"
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "type": "object",
              "additionalProperties": {
                "type": "string"
              }
            }
          },
          "404": {
            "description": "Scope owns no rows in the window",
            "schema": {
              "type": "object",
              "additionalProperties": {
                "type": "string"
              }
            }
          },
          "409": {
            "description": "Artifact is expiring under the S3 lifecycle; re-send the request to rebuild it",
            "schema": {
              "type": "object",
              "additionalProperties": {
                "type": "string"
              }
            }
          },
          "429": {
            "description": "Too Many Requests (per-tenant concurrency or rate limit)",
            "schema": {
              "type": "object",
              "additionalProperties": {
                "type": "string"
              }
            }
          },
          "500": {
            "description": "Internal Server Error (ClickHouse export or S3 failure)",
            "schema": {
              "type": "object",
              "additionalProperties": {
                "type": "string"
              }
            }
          },
          "503": {
            "description": "Backfill disabled (no AWS credentials for S3) or all export workers busy",
            "schema": {
              "type": "object",
              "additionalProperties": {
                "type": "string"
              }
            }
          }
        }
      }
    },
    "/backfill/alerts-routers": {
      "post": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "Recovers the router alert rows that your client missed while it was offline. The response is a link to a Parquet file. One row for each router and alert, with `firstSeen`, `lastSeen` and `sampleCount`. Repeated samples of the same alert are collapsed into one row.\n\n### 1. The smallest request that works\n\nOnly `startDate` and `endDate` are required:\n\n```json\n{\n  \"startDate\": \"2026-09-07T08:00:00Z\",\n  \"endDate\":   \"2026-09-07T10:30:00Z\"\n}\n```\n\nThis gives you every device the tenant owns.\n\n> **Read the example body below as a list of every field the endpoint accepts, not as the body you must send.** Send only the fields you need. The example shows `deviceId`, `deviceIds` and `vesselId` together, but you must never send them together.\n\n### 2. Ask for less than the whole tenant (optional)\n\nAdd **one** of these to the body:\n\n| To backfill | Add to the body |\n| --- | --- |\n| One device | `\"deviceId\": \"0100…\"` |\n| Several devices | `\"deviceIds\": [\"0100…\", \"0100…\"]` — up to 500 |\n| One vessel | `\"vesselId\": \"0197…\"` |\n\n`deviceIds` and `vesselId` cannot go together. A request that has both answers `400`.\n\nLeave all three out to get every device you own.\n\n### 3. Rules for the time window\n\n| Rule | Value |\n| --- | --- |\n| Format | RFC3339, UTC, for example `2026-09-07T08:00:00Z` |\n| Longest window | 3 hours (`endDate` − `startDate`) |\n| How recent `endDate` may be | at least 5 minutes in the past |\n| Oldest `startDate` | 90 days |\n\n`endDate` must be in the past so that the window is closed. A closed window gives a stable file.\n\n### 4. What comes back\n\n**`200` — the file is ready.**\n\n```json\n{\n  \"status\": \"ready\",\n  \"downloadUrl\": \"https://slash-telemetry-backfill.s3.ap-south-1.amazonaws.com/…\",\n  \"expiresAt\": \"2026-09-07T13:30:00Z\",\n  \"rowCount\": 35283,\n  \"sizeBytes\": 1399945\n}\n```\n\nDownload `downloadUrl` directly. It is a presigned link and it needs no API key. It stops working at `expiresAt`, which is approximately 3 hours.\n\n**`202` — the file is large, and the server is building it.**\n\n```json\n{ \"status\": \"building\", \"retryAfter\": 10 }\n```\n\nSend the **same** request again after `retryAfter` seconds. There is no separate status endpoint: the same request answers `200` when the file is ready. Repeating the request is cheap and does not count against your hourly limit.\n\n**`404`** — you own no rows for that scope and that window.\n\n**`429`** — too many requests. Wait and send the request again.\n\n### 5. Points to remember\n\n- The same request always gives the same file. Send it again to get a new link for a file you already have.\n- The column names in the file are the same as the field names of `GET /alerts/routers`, so the code that reads that endpoint also reads this file.\n- `includeAlerts` is not supported. A request with `includeAlerts: true` answers `400`. Use the `alerts-user-terminals` and `alerts-routers` endpoints instead.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "backfill"
        ],
        "summary": "Backfill router alerts",
        "parameters": [
          {
            "description": "Edit before sending. Only startDate and endDate are required; delete the rest. Keep at most ONE of deviceId, deviceIds or vesselId.",
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/handlers.BackfillRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ready — presigned S3 link to the Parquet file in downloadUrl",
            "schema": {
              "$ref": "#/definitions/handlers.BackfillResponse"
            }
          },
          "202": {
            "description": "Building — the Parquet export is running in the background; re-send the same request after retryAfter seconds",
            "schema": {
              "$ref": "#/definitions/handlers.BackfillResponse"
            }
          },
          "400": {
            "description": "Bad Request (unsupported endpoint, or an invalid scope/window)",
            "schema": {
              "type": "object",
              "additionalProperties": {
                "type": "string"
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "type": "object",
              "additionalProperties": {
                "type": "string"
              }
            }
          },
          "404": {
            "description": "Scope owns no rows in the window",
            "schema": {
              "type": "object",
              "additionalProperties": {
                "type": "string"
              }
            }
          },
          "409": {
            "description": "Artifact is expiring under the S3 lifecycle; re-send the request to rebuild it",
            "schema": {
              "type": "object",
              "additionalProperties": {
                "type": "string"
              }
            }
          },
          "429": {
            "description": "Too Many Requests (per-tenant concurrency or rate limit)",
            "schema": {
              "type": "object",
              "additionalProperties": {
                "type": "string"
              }
            }
          },
          "500": {
            "description": "Internal Server Error (ClickHouse export or S3 failure)",
            "schema": {
              "type": "object",
              "additionalProperties": {
                "type": "string"
              }
            }
          },
          "503": {
            "description": "Backfill disabled (no AWS credentials for S3) or all export workers busy",
            "schema": {
              "type": "object",
              "additionalProperties": {
                "type": "string"
              }
            }
          }
        }
      }
    },
    "/router-configs": {
      "get": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "Retrieves all router configurations for accounts linked to the tenant's vessels",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "routers"
        ],
        "summary": "Get router configurations for tenant",
        "operationId": "listRouterConfigs",
        "parameters": [
          {
            "type": "integer",
            "default": 0,
            "description": "Page number (0-based pagination)",
            "name": "page",
            "in": "query"
          },
          {
            "type": "integer",
            "maximum": 100,
            "default": 20,
            "description": "Number of items per page (max 100)",
            "name": "limit",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/models.RouterConfigListResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "type": "object",
              "additionalProperties": true
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "type": "object",
              "additionalProperties": true
            }
          }
        }
      },
      "post": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "Creates a new router configuration by calling Starlink API. Provide either router_config (full JSON) or router_config_id (to copy from existing). When using router_config_id, you can optionally provide config_overrides to modify specific fields. On success, a fast-sync event is published so the new config is available in the data lake within seconds (no need to wait for the next scheduled ingestion).",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "routers"
        ],
        "summary": "Create router configuration",
        "operationId": "createRouterConfig",
        "parameters": [
          {
            "description": "Router config request",
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/models.CreateRouterConfigRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/models.CreateRouterConfigResponse"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/models.CreateRouterConfigResponse"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "type": "object",
              "additionalProperties": true
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "type": "object",
              "additionalProperties": true
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "object",
              "additionalProperties": true
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "type": "object",
              "additionalProperties": true
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "type": "object",
              "additionalProperties": true
            }
          },
          "502": {
            "description": "Bad Gateway",
            "schema": {
              "type": "object",
              "additionalProperties": true
            }
          }
        }
      }
    },
    "/router-configs/{configId}": {
      "get": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "Retrieves a specific router configuration by its config ID for the authenticated tenant",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "routers"
        ],
        "summary": "Get router configuration by ID",
        "operationId": "getRouterConfigById",
        "parameters": [
          {
            "type": "string",
            "description": "Router Config ID",
            "name": "configId",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/models.RouterConfig"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "type": "object",
              "additionalProperties": true
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "type": "object",
              "additionalProperties": true
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "type": "object",
              "additionalProperties": true
            }
          }
        }
      }
    },
    "/router-tls-configs": {
      "get": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "Retrieves all TLS configurations for accounts linked to the tenant's vessels",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "routers"
        ],
        "summary": "Get router TLS configurations for tenant",
        "operationId": "listRouterTLSConfigs",
        "parameters": [
          {
            "type": "integer",
            "default": 0,
            "description": "Page number (0-based pagination)",
            "name": "page",
            "in": "query"
          },
          {
            "type": "integer",
            "maximum": 100,
            "default": 20,
            "description": "Number of items per page (max 100)",
            "name": "limit",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/models.RouterTLSConfigListResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "type": "object",
              "additionalProperties": true
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "type": "object",
              "additionalProperties": true
            }
          }
        }
      }
    },
    "/routers": {
      "get": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "Retrieves a paginated list of all routers for the authenticated tenant with vessel and terminal context",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "routers"
        ],
        "summary": "Get all routers for a tenant",
        "operationId": "listRouters",
        "parameters": [
          {
            "type": "integer",
            "default": 0,
            "description": "Page number (0-based pagination)",
            "name": "page",
            "in": "query"
          },
          {
            "type": "integer",
            "maximum": 100,
            "default": 20,
            "description": "Number of items per page (max 100)",
            "name": "limit",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Filter by router ID",
            "name": "routerId",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Filter by hardware version",
            "name": "hardwareVersion",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Filter by user terminal ID",
            "name": "userTerminalId",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Filter by vessel ID",
            "name": "vesselId",
            "in": "query"
          },
          {
            "type": "boolean",
            "description": "Filter by direct link to dish status",
            "name": "directLinkToDish",
            "in": "query"
          },
          {
            "type": "boolean",
            "description": "Include routers with inactive service lines",
            "name": "includeInactive",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/models.TenantRouterListResponse"
            }
          },
          "400": {
            "description": "Invalid query parameters",
            "schema": {
              "type": "object",
              "additionalProperties": true
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "type": "object",
              "additionalProperties": true
            }
          }
        }
      }
    },
    "/service-lines": {
      "get": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "Retrieves a paginated list of service lines owned by the authenticated tenant, ordered by start_date DESC. Returns active and inactive lines by default.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "service-lines"
        ],
        "summary": "List service lines for a tenant",
        "operationId": "listServiceLines",
        "parameters": [
          {
            "type": "integer",
            "default": 0,
            "description": "Page number (0-based pagination)",
            "name": "page",
            "in": "query"
          },
          {
            "type": "integer",
            "maximum": 1000,
            "default": 20,
            "description": "Number of items per page (max 1000)",
            "name": "limit",
            "in": "query"
          },
          {
            "type": "string",
            "enum": [
              "all",
              "active",
              "inactive"
            ],
            "description": "Filter by active status: 'all' (default), 'active', or 'inactive'",
            "name": "status",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Filter by a single service line number (exact match, unioned with serviceLineNumbers)",
            "name": "serviceLineNumber",
            "in": "query"
          },
          {
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi",
            "description": "Filter by a set of service line numbers (exact match). Accepts repeated values or a comma-separated list",
            "name": "serviceLineNumbers",
            "in": "query"
          },
          {
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi",
            "description": "Filter by a set of product reference IDs (exact match). Accepts repeated values or a comma-separated list",
            "name": "productReferenceIds",
            "in": "query"
          },
          {
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi",
            "description": "Filter by a set of address reference IDs (exact match). Accepts repeated values or a comma-separated list",
            "name": "addressReferenceIds",
            "in": "query"
          },
          {
            "type": "boolean",
            "description": "Filter by public IP flag",
            "name": "publicIp",
            "in": "query"
          },
          {
            "type": "boolean",
            "description": "Filter by whether the line is opted in to an opt-in product",
            "name": "optedIn",
            "in": "query"
          },
          {
            "type": "boolean",
            "description": "Filter by whether the line has a scheduled product change",
            "name": "hasDelayedProduct",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Earliest subscription start_date (RFC3339 or YYYY-MM-DD)",
            "name": "startDateFrom",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Latest subscription start_date (RFC3339 or YYYY-MM-DD)",
            "name": "startDateTill",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Earliest deactivation end_date (RFC3339 or YYYY-MM-DD)",
            "name": "endDateFrom",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Latest deactivation end_date (RFC3339 or YYYY-MM-DD)",
            "name": "endDateTill",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Partial match against service_line_number or nickname",
            "name": "searchString",
            "in": "query"
          },
          {
            "type": "boolean",
            "description": "When true, embeds the per-line dataBlocks summary (adds an extra query). Default: false",
            "name": "includeDataBlocks",
            "in": "query"
          },
          {
            "type": "string",
            "enum": [
              "asc",
              "desc"
            ],
            "default": "desc",
            "description": "Sort direction for start_date",
            "name": "sortOrder",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/models.ServiceLineListResponse"
            }
          },
          "400": {
            "description": "Invalid query parameters",
            "schema": {
              "type": "object",
              "additionalProperties": true
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "type": "object",
              "additionalProperties": true
            }
          }
        }
      }
    },
    "/starlink/{api_name}": {
      "get": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "Forwards a request to Starlink API based on database configuration with path parameter mapping. The following api_name values trigger fast-sync (data lake updated within seconds): create_router_config, update_router_config, set_router_config, remove_router_config, create_service_line, deactivate_service_line, service_line_opt_in, service_line_opt_out, add_terminal_to_service_line, remove_terminal_from_service_line.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "passthrough"
        ],
        "summary": "Execute a dynamic Starlink API call",
        "operationId": "passthroughGet",
        "parameters": [
          {
            "type": "string",
            "description": "API configuration name",
            "name": "api_name",
            "in": "path",
            "required": true
          },
          {
            "description": "Request data with path parameters",
            "name": "request",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/models.PassthroughRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/models.PassthroughResponse"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "type": "object",
              "additionalProperties": true
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "type": "object",
              "additionalProperties": true
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "object",
              "additionalProperties": true
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "type": "object",
              "additionalProperties": true
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "type": "object",
              "additionalProperties": true
            }
          }
        }
      },
      "put": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "Forwards a request to Starlink API based on database configuration with path parameter mapping. The following api_name values trigger fast-sync (data lake updated within seconds): create_router_config, update_router_config, set_router_config, remove_router_config, create_service_line, deactivate_service_line, service_line_opt_in, service_line_opt_out, add_terminal_to_service_line, remove_terminal_from_service_line.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "passthrough"
        ],
        "summary": "Execute a dynamic Starlink API call",
        "operationId": "passthroughPut",
        "parameters": [
          {
            "type": "string",
            "description": "API configuration name",
            "name": "api_name",
            "in": "path",
            "required": true
          },
          {
            "description": "Request data with path parameters",
            "name": "request",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/models.PassthroughRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/models.PassthroughResponse"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "type": "object",
              "additionalProperties": true
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "type": "object",
              "additionalProperties": true
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "object",
              "additionalProperties": true
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "type": "object",
              "additionalProperties": true
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "type": "object",
              "additionalProperties": true
            }
          }
        }
      },
      "post": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "Forwards a request to Starlink API based on database configuration with path parameter mapping. The following api_name values trigger fast-sync (data lake updated within seconds): create_router_config, update_router_config, set_router_config, remove_router_config, create_service_line, deactivate_service_line, service_line_opt_in, service_line_opt_out, add_terminal_to_service_line, remove_terminal_from_service_line.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "passthrough"
        ],
        "summary": "Execute a dynamic Starlink API call",
        "operationId": "passthroughPost",
        "parameters": [
          {
            "type": "string",
            "description": "API configuration name",
            "name": "api_name",
            "in": "path",
            "required": true
          },
          {
            "description": "Request data with path parameters",
            "name": "request",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/models.PassthroughRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/models.PassthroughResponse"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "type": "object",
              "additionalProperties": true
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "type": "object",
              "additionalProperties": true
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "object",
              "additionalProperties": true
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "type": "object",
              "additionalProperties": true
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "type": "object",
              "additionalProperties": true
            }
          }
        }
      },
      "delete": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "Forwards a request to Starlink API based on database configuration with path parameter mapping. The following api_name values trigger fast-sync (data lake updated within seconds): create_router_config, update_router_config, set_router_config, remove_router_config, create_service_line, deactivate_service_line, service_line_opt_in, service_line_opt_out, add_terminal_to_service_line, remove_terminal_from_service_line.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "passthrough"
        ],
        "summary": "Execute a dynamic Starlink API call",
        "operationId": "passthroughDelete",
        "parameters": [
          {
            "type": "string",
            "description": "API configuration name",
            "name": "api_name",
            "in": "path",
            "required": true
          },
          {
            "description": "Request data with path parameters",
            "name": "request",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/models.PassthroughRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/models.PassthroughResponse"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "type": "object",
              "additionalProperties": true
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "type": "object",
              "additionalProperties": true
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "object",
              "additionalProperties": true
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "type": "object",
              "additionalProperties": true
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "type": "object",
              "additionalProperties": true
            }
          }
        }
      },
      "patch": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "Forwards a request to Starlink API based on database configuration with path parameter mapping. The following api_name values trigger fast-sync (data lake updated within seconds): create_router_config, update_router_config, set_router_config, remove_router_config, create_service_line, deactivate_service_line, service_line_opt_in, service_line_opt_out, add_terminal_to_service_line, remove_terminal_from_service_line.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "passthrough"
        ],
        "summary": "Execute a dynamic Starlink API call",
        "operationId": "passthroughPatch",
        "parameters": [
          {
            "type": "string",
            "description": "API configuration name",
            "name": "api_name",
            "in": "path",
            "required": true
          },
          {
            "description": "Request data with path parameters",
            "name": "request",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/models.PassthroughRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/models.PassthroughResponse"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "type": "object",
              "additionalProperties": true
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "type": "object",
              "additionalProperties": true
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "object",
              "additionalProperties": true
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "type": "object",
              "additionalProperties": true
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "type": "object",
              "additionalProperties": true
            }
          }
        }
      }
    },
    "/telemetry/ip-allocations": {
      "get": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "Retrieves IP allocation data",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "telemetry"
        ],
        "summary": "Get IP allocation data",
        "operationId": "getIPAllocations",
        "parameters": [
          {
            "type": "string",
            "description": "Start date in RFC3339 format (e.g., 2025-01-01T00:00:00Z). Defaults to 24 hours ago. Maximum date range is 2 months.",
            "name": "startDate",
            "in": "query"
          },
          {
            "type": "string",
            "description": "End date in RFC3339 format (e.g., 2025-01-01T23:59:59Z). Defaults to current time. Maximum date range is 2 months.",
            "name": "endDate",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Filter by specific device ID",
            "name": "deviceId",
            "in": "query"
          },
          {
            "type": "integer",
            "description": "Page index for pagination (0-based). Default: 0",
            "name": "pageIndex",
            "in": "query"
          },
          {
            "type": "integer",
            "maximum": 1000,
            "default": 100,
            "description": "Number of items per page. Default: 100, Max: 1000.",
            "name": "pageSize",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/models.IPAllocationResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "type": "object",
              "additionalProperties": {
                "type": "string"
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "type": "object",
              "additionalProperties": {
                "type": "string"
              }
            }
          }
        }
      }
    },
    "/telemetry/routers": {
      "get": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "Retrieves telemetry data from routers",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "telemetry"
        ],
        "summary": "Get router telemetry data",
        "operationId": "getRouterTelemetry",
        "parameters": [
          {
            "type": "string",
            "description": "Start date in RFC3339 format (e.g., 2025-01-01T00:00:00Z). Defaults to 24 hours ago. Maximum date range is 2 months.",
            "name": "startDate",
            "in": "query"
          },
          {
            "type": "string",
            "description": "End date in RFC3339 format (e.g., 2025-01-01T23:59:59Z). Defaults to current time. Maximum date range is 2 months.",
            "name": "endDate",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Filter by specific device ID",
            "name": "deviceId",
            "in": "query"
          },
          {
            "type": "integer",
            "description": "Page index for pagination (0-based). Default: 0",
            "name": "pageIndex",
            "in": "query"
          },
          {
            "type": "integer",
            "maximum": 1000,
            "default": 100,
            "description": "Number of items per page. Default: 100, Max: 1000.",
            "name": "pageSize",
            "in": "query"
          },
          {
            "type": "boolean",
            "description": "Include the distinct alerts active in each row's minute bucket. Default: false. When true, every row carries an `alerts` array (empty if no events). Note: router alerts are currently unpopulated upstream, so this array will be empty until that pipeline is restored.",
            "name": "includeAlerts",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/models.RouterTelemetryResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "type": "object",
              "additionalProperties": {
                "type": "string"
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "type": "object",
              "additionalProperties": {
                "type": "string"
              }
            }
          }
        }
      }
    },
    "/telemetry/user-terminals": {
      "get": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "Retrieves telemetry data from user terminals (dishes)",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "telemetry"
        ],
        "summary": "Get user terminal telemetry data",
        "operationId": "getUserTerminalTelemetry",
        "parameters": [
          {
            "type": "string",
            "description": "Start date in RFC3339 format (e.g., 2025-01-01T00:00:00Z). Defaults to 24 hours ago. Maximum date range is 2 months.",
            "name": "startDate",
            "in": "query"
          },
          {
            "type": "string",
            "description": "End date in RFC3339 format (e.g., 2025-01-01T23:59:59Z). Defaults to current time. Maximum date range is 2 months.",
            "name": "endDate",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Filter by specific device ID",
            "name": "deviceId",
            "in": "query"
          },
          {
            "type": "integer",
            "description": "Page index for pagination (0-based). Default: 0",
            "name": "pageIndex",
            "in": "query"
          },
          {
            "type": "integer",
            "maximum": 1000,
            "default": 100,
            "description": "Number of items per page. Default: 100, Max: 1000.",
            "name": "pageSize",
            "in": "query"
          },
          {
            "type": "boolean",
            "description": "Include the distinct alerts active in each row's minute bucket. Default: false. When true, every row carries an `alerts` array (empty if no events in that bucket); when false, the `alerts` field is omitted from the response entirely.",
            "name": "includeAlerts",
            "in": "query"
          },
          {
            "type": "boolean",
            "description": "BETA: attach the IP allocation (ipv4 / ipv6Ue / ipv6Cpe) active in each row's minute bucket. Default: false. When true, rows with a matching IP poll carry an `ipAllocation` object; rows with no IP in that minute omit the field. The shape of the embedded `ipAllocation` (currently identical to `/telemetry/ip-allocations` — JSON-encoded array strings such as `\"[\\\"1.2.3.4\\\"]\"`) may change without notice based on user feedback.",
            "name": "includeIps",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/models.UserTerminalTelemetryResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "type": "object",
              "additionalProperties": {
                "type": "string"
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "type": "object",
              "additionalProperties": {
                "type": "string"
              }
            }
          }
        }
      }
    },
    "/telemetry/vessels/latest": {
      "get": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "Retrieves the latest telemetry record and alerts for each vessel belonging to the authenticated tenant. Vessels with no telemetry inside the requested window are still returned, marked stale=true with their lastSeenAt (or null if silent beyond the 7-day retention of the latest-telemetry view) — timeRangeHours only controls the staleness window, it no longer hides silent vessels. totalCount is the number of distinct (vessel, device) pairs and is identical with and without includeAlerts.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "telemetry"
        ],
        "summary": "Get latest telemetry and alerts for each vessel",
        "operationId": "getVesselsLatestTelemetry",
        "parameters": [
          {
            "type": "string",
            "description": "Filter by specific vessel ID",
            "name": "vesselId",
            "in": "query"
          },
          {
            "type": "integer",
            "description": "Hours to look back for data (default: 24, max: 168). This limits how far back to search for the latest telemetry record.",
            "name": "timeRangeHours",
            "in": "query"
          },
          {
            "type": "integer",
            "description": "Page index for pagination (0-based). Default: 0",
            "name": "pageIndex",
            "in": "query"
          },
          {
            "type": "integer",
            "maximum": 1000,
            "default": 50,
            "description": "Number of vessels per page. Default: 50, Max: 1000.",
            "name": "pageSize",
            "in": "query"
          },
          {
            "type": "boolean",
            "description": "Whether to include alert data (default: true)",
            "name": "includeAlerts",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/models.VesselLatestTelemetryResponse"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "type": "object",
              "additionalProperties": {
                "type": "string"
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "type": "object",
              "additionalProperties": {
                "type": "string"
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "type": "object",
              "additionalProperties": {
                "type": "string"
              }
            }
          }
        }
      }
    },
    "/user-terminals": {
      "get": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "Retrieves a paginated list of all user terminals for the authenticated tenant with vessel context",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "terminals"
        ],
        "summary": "Get all user terminals for a tenant",
        "operationId": "listUserTerminals",
        "parameters": [
          {
            "type": "integer",
            "default": 0,
            "description": "Page number (0-based pagination)",
            "name": "page",
            "in": "query"
          },
          {
            "type": "integer",
            "maximum": 100,
            "default": 20,
            "description": "Number of items per page (max 100)",
            "name": "limit",
            "in": "query"
          },
          {
            "type": "boolean",
            "description": "Filter by active status",
            "name": "active",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Filter by kit serial number (partial match)",
            "name": "kitSerialNumber",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Filter by dish serial number (partial match)",
            "name": "dishSerialNumber",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Filter by a single user terminal ID (exact match, unioned with userTerminalIds)",
            "name": "userTerminalId",
            "in": "query"
          },
          {
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi",
            "description": "Filter by a set of user terminal IDs (exact match). Accepts repeated values or a comma-separated list",
            "name": "userTerminalIds",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Filter by vessel ID",
            "name": "vesselId",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Filter by a single service line number (exact match, unioned with serviceLineNumbers)",
            "name": "serviceLineNumber",
            "in": "query"
          },
          {
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi",
            "description": "Filter by a set of service line numbers (exact match). Accepts repeated values or a comma-separated list",
            "name": "serviceLineNumbers",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Partial match against user terminal ID, kit serial number, or dish serial number",
            "name": "searchString",
            "in": "query"
          },
          {
            "type": "boolean",
            "description": "Include user terminals with inactive service lines",
            "name": "includeInactive",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/models.TenantUserTerminalListResponse"
            }
          },
          "400": {
            "description": "Invalid query parameters",
            "schema": {
              "type": "object",
              "additionalProperties": true
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "type": "object",
              "additionalProperties": true
            }
          }
        }
      }
    },
    "/vessels": {
      "post": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "Creates a new vessel for the authenticated tenant. The account number is resolved from the tenant's feature access configuration — tenants do not specify it directly. Requires 'vessel_creation' access in the tenant_feature_access table.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "vessels"
        ],
        "summary": "Create a vessel (tenant-scoped)",
        "operationId": "createVessel",
        "parameters": [
          {
            "description": "Vessel creation request",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/models.TenantCreateVesselRequest"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Vessel created successfully",
            "schema": {
              "$ref": "#/definitions/models.VesselResponse"
            }
          },
          "400": {
            "description": "Invalid request body, service line not found under account, or account mismatch",
            "schema": {
              "type": "object",
              "additionalProperties": true
            }
          },
          "403": {
            "description": "Tenant does not have vessel creation access",
            "schema": {
              "type": "object",
              "additionalProperties": true
            }
          },
          "409": {
            "description": "Service line is already assigned to a vessel",
            "schema": {
              "type": "object",
              "additionalProperties": true
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "type": "object",
              "additionalProperties": true
            }
          }
        }
      },
      "get": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "Retrieves a paginated list of vessels for the authenticated tenant",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "vessels"
        ],
        "summary": "Get vessels list",
        "operationId": "listVessels",
        "parameters": [
          {
            "type": "integer",
            "default": 0,
            "description": "Page number (0-based pagination)",
            "name": "page",
            "in": "query"
          },
          {
            "type": "integer",
            "maximum": 1000,
            "default": 20,
            "description": "Number of items per page (max 1000)",
            "name": "limit",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Filter by vessel status",
            "name": "status",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Filter by vessel name",
            "name": "vesselName",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Filter by terminal serial number",
            "name": "serialNumber",
            "in": "query"
          },
          {
            "type": "boolean",
            "description": "Include vessels with inactive service lines",
            "name": "includeInactive",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/models.VesselListResponse"
            }
          },
          "400": {
            "description": "Invalid query parameters",
            "schema": {
              "type": "object",
              "additionalProperties": true
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "type": "object",
              "additionalProperties": true
            }
          }
        }
      }
    },
    "/vessels/data-usage/bulk/current": {
      "get": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "Retrieves the current billing cycle data usage for vessels. Supports two modes: (1) specific vessel IDs via vesselIds param, or (2) paginated results for all vessels.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "data-usage"
        ],
        "summary": "Get bulk vessels current data usage",
        "operationId": "getBulkVesselsCurrentDataUsage",
        "parameters": [
          {
            "type": "string",
            "description": "Comma-separated vessel IDs (max 50). If not provided, returns all vessels or paginated results.",
            "name": "vesselIds",
            "in": "query"
          },
          {
            "type": "integer",
            "description": "Page number (0-based). Used when vesselIds not provided.",
            "name": "page",
            "in": "query"
          },
          {
            "type": "integer",
            "maximum": 1000,
            "description": "Number of vessels per page (max 1000). If not provided, returns all vessels.",
            "name": "limit",
            "in": "query"
          },
          {
            "type": "boolean",
            "description": "Include vessels with inactive service lines",
            "name": "includeInactive",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/models.AllVesselsDataUsageResponse"
            }
          },
          "400": {
            "description": "Invalid parameters",
            "schema": {
              "type": "object",
              "additionalProperties": true
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "type": "object",
              "additionalProperties": true
            }
          }
        }
      }
    },
    "/vessels/data-usage/bulk/history": {
      "get": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "Retrieves historical data usage for multiple vessels. Supports two modes: (1) specific vessel IDs via vesselIds param, or (2) paginated results for all vessels.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "data-usage"
        ],
        "summary": "Get bulk vessels data usage history",
        "operationId": "getBulkVesselsDataUsageHistory",
        "parameters": [
          {
            "type": "string",
            "description": "Comma-separated vessel IDs (max 50). If not provided, returns paginated results for all vessels.",
            "name": "vesselIds",
            "in": "query"
          },
          {
            "type": "integer",
            "description": "Page number (0-based). Used when vesselIds not provided. Default: 0",
            "name": "page",
            "in": "query"
          },
          {
            "type": "integer",
            "maximum": 50,
            "default": 20,
            "description": "Number of vessels per page (max 50). Used when vesselIds not provided. Default: 20",
            "name": "limit",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Start date in RFC3339 format. Default: 30 days ago. Max range: 2 months.",
            "name": "startDate",
            "in": "query"
          },
          {
            "type": "string",
            "description": "End date in RFC3339 format. Default: now. Max range: 2 months.",
            "name": "endDate",
            "in": "query"
          },
          {
            "type": "integer",
            "maximum": 100,
            "default": 30,
            "description": "Max history points per vessel (max 100). Default: 30",
            "name": "historyLimit",
            "in": "query"
          },
          {
            "type": "boolean",
            "description": "Include vessels with inactive service lines",
            "name": "includeInactive",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/models.BulkVesselsDataUsageHistoryResponse"
            }
          },
          "400": {
            "description": "Invalid parameters",
            "schema": {
              "type": "object",
              "additionalProperties": true
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "type": "object",
              "additionalProperties": true
            }
          }
        }
      }
    },
    "/vessels/location/current": {
      "get": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "Retrieves the current geographical location for all vessels belonging to the tenant. Returns exactly one row per vessel (the most recently reporting terminal wins); totalCount counts vessels.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "vessels"
        ],
        "summary": "Get all vessels current location",
        "operationId": "getAllVesselsCurrentLocation",
        "parameters": [
          {
            "type": "boolean",
            "description": "Include vessels with inactive service lines",
            "name": "includeInactive",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/models.AllVesselsLocationResponse"
            }
          },
          "400": {
            "description": "Invalid query parameters",
            "schema": {
              "type": "object",
              "additionalProperties": true
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "type": "object",
              "additionalProperties": true
            }
          }
        }
      }
    },
    "/vessels/location/current/bulk": {
      "get": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "Retrieves the current geographical location for a list of specific vessels by their IDs. Returns exactly one row per vessel (the most recently reporting terminal wins); totalCount counts vessels.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "vessels"
        ],
        "summary": "Get current location for specific vessels",
        "operationId": "getBulkVesselsCurrentLocation",
        "parameters": [
          {
            "type": "string",
            "description": "Comma-separated list of vessel IDs (e.g., id1,id2,id3)",
            "name": "vesselIds",
            "in": "query",
            "required": true
          },
          {
            "type": "boolean",
            "description": "Include vessels with inactive service lines. Default: false (active only)",
            "name": "includeInactive",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/models.AllVesselsLocationResponse"
            }
          },
          "400": {
            "description": "Vessel IDs are required",
            "schema": {
              "type": "object",
              "additionalProperties": true
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "type": "object",
              "additionalProperties": true
            }
          }
        }
      }
    },
    "/vessels/location/history/bulk": {
      "get": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "Retrieves historical location data for vessels. Supports two modes: (1) Specific vessel IDs - provide vesselIds param for up to 25 vessels, (2) Paginated - omit vesselIds to paginate through all vessels. Use granularity to reduce data density for data pipelines.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "vessels"
        ],
        "summary": "Get location history for multiple vessels with pagination",
        "operationId": "getBulkVesselsLocationHistory",
        "parameters": [
          {
            "type": "string",
            "description": "Comma-separated list of vessel IDs (e.g., id1,id2,id3). Maximum 25 vessels. If omitted, returns paginated results for all vessels.",
            "name": "vesselIds",
            "in": "query"
          },
          {
            "type": "integer",
            "default": 0,
            "description": "Page number (0-based) for pagination. Used when vesselIds is not provided.",
            "name": "page",
            "in": "query"
          },
          {
            "type": "integer",
            "maximum": 25,
            "default": 20,
            "description": "Number of vessels per page (max 25, default 20). Used when vesselIds is not provided.",
            "name": "pageSize",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Start date in RFC3339 format (e.g., 2025-01-01T00:00:00Z). Defaults to 7 days ago. Maximum date range is 2 months.",
            "name": "startDate",
            "in": "query"
          },
          {
            "type": "string",
            "description": "End date in RFC3339 format (e.g., 2025-01-01T23:59:59Z). Defaults to current time. Maximum date range is 2 months.",
            "name": "endDate",
            "in": "query"
          },
          {
            "type": "string",
            "enum": [
              "raw",
              "five_minutes",
              "fifteen_minutes",
              "hour",
              "day",
              "week"
            ],
            "default": "raw",
            "description": "Data granularity: raw (all ~30s data points), five_minutes (1 point/5min), fifteen_minutes (1 point/15min), hour (1 point/hour), day (1 point/day), week (1 point/week).",
[...]
